@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /*outline: 1px dotted red;*/
  /* font-family: "Poppins", sans-serif; */
  font-family: "po", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "po";
  src: url(../assets/fonts/PixelOperator8.ttf);
}

@font-face {
  font-family: "po-bold";
  src: url(../assets/fonts/PixelOperator8-Bold.ttf);
}

main {
  padding: 1rem 5vw;
}