@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@15&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /* font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12; */
  font-family: "Mansalva", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* outline: 1px dotted red; */
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: purple;
  background-image: url("../assets/gifs/e390cf34f033d7a4283e32401232d220.gif");
  background-repeat: repeat;
  background-size: cover;
}

body {
  padding: 0 5vw 5vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img:nth-child(odd) {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: center;
}

header img:nth-child(even) {
  width: 50%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.wrapper {  
  display: flex;
  gap: 30px;
}

aside {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

article, nav, .o-box, footer {
  position: relative;
  padding: 10px;
  border-image-slice: 27 27 27 27;
  border-image-width: 5px;
  border-image-repeat: stretch stretch;
  border-image-source: url("https://img1.picmix.com/output/stamp/normal/4/7/8/4/254874_80ab7.gif");
  border-style: solid;
  background-color: #66339940;
}

.title {
  position: absolute;
  top: -25px;
  /* font-family: "Monofett", monospace; */
  font-size: 32px;
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  text-transform: uppercase;
}

.text {
  font-size: 16px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: uppercase;
}

.links {
  line-height: 1;
  font-size: 16px;
  padding: 10px 50px;
  list-style: none;
  background-image: url(../assets/gifs/flower\ of\ life.webp);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px;
  transition: font-size 0.1s ease;
}

.links:hover {
  font-size: 18px;
}

.status img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

main {
  height: 100%;
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

main .welcomegif {
  width: 100%;
  height: auto;
}

.abt-header {
  display: flex;
  align-self: start;
  justify-content: space-between;
}

h2 {
  font-family: "Honk", system-ui;
  font-size: 32px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    text-transform: uppercase;
}

.abt-me img {
  width: 50px;
  height: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

h3 {
  font-size: 24px;
}

.me {
  font-size: 14px;
  margin-left: 15px;
  line-height: 1;
  padding: 10px 40px;
  list-style: none;
  background-image: url(../assets/gifs/5922a2_0c89682da0894c88a79ab5b6f6e994a4-mv2.gif);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px;
  transition: font-size 0.1s ease;
}

button {
  width: 100%;
  background-color: rebeccapurple;
  border-color: rebeccapurple;
  font-size: 18px;
  transition: border-color 0.1s ease, font-size 0.1s ease;
  cursor: pointer;
}

.counter {
  margin-bottom: -20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.date {
  margin-bottom: 10px;
  color: #ffffff90;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .title, h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 960px) and (min-width: 481px) {
  .title, h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 1366px) {
  title, h2 {
    font-size: 48px;
  }
  .text, link {
    font-size: 18px;
  }
  link:hover {
    font-size: 20px;
  }
  h3 {
    font-size: 28px;
  }
  button {
    font-size: 24px;
  }
}