@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* list-style: none; */
  scroll-behavior: smooth;
  /* font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal; */
  /* font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal; */
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
  /* font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal; */
  outline: 1px dotted red;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: purple;
  background-image: url("../assets/gifs/e390cf34f033d7a4283e32401232d220.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  padding: 0 5vw 5vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img:nth-child(odd) {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: center;
}

header img:nth-child(even) {
  width: 50%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.wrapper {  
  display: flex;
  gap: 30px;
}

aside {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

article, nav, main {
  position: relative;
  padding: 10px 5px;
  border-image-slice: 27 27 27 27;
  border-image-width: 5px;
  border-image-repeat: stretch stretch;
  border-image-source: url("https://img1.picmix.com/output/stamp/normal/4/7/8/4/254874_80ab7.gif");
  border-style: solid;
  background-color: #66339940;
}

.title {
  position: absolute;
  top: -25px;
  font-family: "Monofett", monospace;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

li {
  line-height: 1;
  padding: 10px 50px;
  list-style: none;
  background-image: url(../assets/gifs/flower\ of\ life.webp);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px;
  transition: font-size 0.1s ease;
}

li:hover {
  font-size: 18px;
}

.status img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

main {
  height: 100%;
  flex: 1.5;
}

main img {
  width: 100%;
  height: auto;
}